### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics using Python

## Data structures in Python (tutorial video)

*Use this Jupyter Notebook to follow along with the tutorial video. You can pause the video to make notes as comments or text blocks.*

As a data analyst, you will need to organise your code blocks in a certain manner. This will help you to adhere to PEP 8 principles and make the code more accessible and readable. Thatâ€™s why Python and other programming languages offer data structures as a way to group, store, and work with information. These structures come in a few forms.

The built-in data structures of Python are lists, tuples, dictionaries, and sets. These structures are part of the fundamental building blocks of any Python code block.

## 1. List

In [ ]:
# A list is an ordered sequence of elements.
# Each element or value inside a list is called an item.
myList = [24, 5, 'data']

# View the list.
myList

In [ ]:
# A list can have duplicate values.
# Add another value for example 24.
myList = [24, 5, 'data', 24]

# View the list.
myList

In [ ]:
# Can alter each value in a list (lists = mutable objects).
# Access each item in a list with the index position.
# The index starts at 0.
myList[0]

In [ ]:
# What if you want to change the value of the first element in a list?
myList[0] = 10

# View the list.
myList

In [ ]:
# Count the number of items in a list.
# Check the length with len() function.
len(myList)

## 2. Tuple

In [ ]:
# Similar to lists.
# Immutable objects (cannot change elements inside a tuple).
# Create a tuple.
myTuple = (10, 40, 50)

# View the tuple.
myTuple

In [ ]:
# Access item in a list with an index position.
# The index starts at 0.
myTuple[0]

In [ ]:
# What if you want to change the value of the first element in a tuple?
# Remember tuples are immutable objects.
myTuple[0] = 100

# View the tuple.
myTuple

In [ ]:
# Get the maximum value from the tuple.
max(myTuple)

In [ ]:
# Get the minimum value from the tuple.
min(myTuple)

## 3. Dictionary

In [ ]:
# Data has a unique reference that can be associated wtih a value.
# Create a dictionary with the key:value method.
myDictionary = {'key1':'Adam',
                'key2':'Melbourne',
                'key3':'Data Scientist',
                'key4':'error'}

# View the dictionary.
myDictionary

In [ ]:
# Access values inside a dictionary with the corresponding key value.
myDictionary['key1']

In [ ]:
# Access values inside a dictionary with the corresponding key value.
myDictionary['key2']

In [ ]:
# Access values inside a dictionary with the corresponding key value.
myDictionary['key3']

In [ ]:
# Delete an element inside a dictionary.
# Use the del keyword and the corresponding key.
del myDictionary['key4']

# View the dictionary.
myDictionary

## 4. Set

In [ ]:
# A set is an unordered collection of unique elements.
# It cannot have duplicate values.
# Create a set.
mySet = {'apple', 'orange', 'grapes'}

# View the set.
mySet

In [ ]:
# Add a duplicate value, for example, apple.
mySet = {'apple', 'orange', 'grapes', 'apple'}

# View the set.
mySet